.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 700px;
  border-radius: 16px;
  padding: 24px;
  position: relative;
}
.modal-box > h2 {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 20px; /* ixtiyoriy */
  font-weight: 600; /* ixtiyoriy */
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modal-box textarea {
  margin-top: 16px;
  height: 120px;
  resize: none;
}

.save-btn {
  margin: 20px auto 0;
  display: block;
  background: #57c28b;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
