.head h1{
  margin-top: 60px;
  font-size: 15px;
  margin-left: 208px;
}
.head p{
  margin-top: 35px;
  border: 1px solid silver;
  width: 1045px;
  margin-left: 208px;
}

.Katta2{
  border: 2px solid white;
  margin-left: 208px;
  width: 1045px;
  margin-top: 35px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  height: 500px;
}


.stefan2{
  margin-left: 20px;
}

.stefan2 p{
  margin-top: -30px;
  font-size: 25px;
  line-height: 15px;
  font-weight: 400;
}
.stars{
  display: flex;
  margin-top: -30px;  
  align-items: center;
}
.stars p{
  margin-top: 18px;
  font-weight: 400;
  margin-left: 20px;
  font-size: 20px;
}


.talents p{
  margin-top: -20px;
  margin-left: 30px;
  font-weight: 700;
}
.talents svg{
  margin-top: -35px;
  position: absolute;
}
.talents2 h1{
  font-weight: 600;
  line-height: 100%;
  margin-left: 115px;  
  font-size: 15px;
}



.talent{
  margin-left: -150px;
  align-items: center;
}
.talents3 button{
  margin-left: 90px;
  border-radius: 10px;
  background-color: rgb(80, 197, 148, 1);
  color: white;
  border: none;
  width: 100px;
  height: 25px;
}

.talents3:hover button{
  background-color: rgba(22, 61, 92, 1);
  color: white;
  transition: 0.5s;
}

.matn p{
  font-weight: 400;
  margin-top: 10px;
  font-size: 15.5px;
}

.matn h1{
  font-weight: 700;
  font-size: 20px;
  margin-left: 40px;
}
.text h2{
  margin-top: 40px;
}

.oposite{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 610px;
}
.oposite h1{
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.oposite p{
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.nom {
  display: flex;
  align-items: center;
  gap: 20px;
}
.noma button{
  margin-top: 10px;
  width: 140px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}

.noma1 button{
  margin-top: 10px;
  width: 220px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.noma2 button{
  margin-top: 10px;
  width: 240px;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-left: -90px;
  font-size: 15px;
  cursor: pointer;
}

.noma3 button{
  margin-top: 10px;
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-left: -10px;
  font-size: 15px;
  cursor: pointer;

}
.noma button{
  margin-top: 10px;
}

.button4{
  margin-top: -35px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 658px;


}

