.head h1 {
  margin-top: 60px;
  font-size: 15px;
  margin-left: 208px;
}
.head p {
  margin-top: 35px;
  border: 1px solid silver;
  width: 1045px;
  margin-left: 208px;
}

.Katta1 {
  border: 2px solid white;
  margin-left: 208px;
  width: 1045px;
  margin-top: 35px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.heed {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
}
.Talents {
  display: flex;
  align-items: center;
  margin-right: 250px;
}
.stefan2 h1 {
  margin-top: -10px;
  line-height: 80px;
  font-weight: 700;
  font-size: 24px;
}
.stefan2 p {
  margin-top: -1000px;
  font-weight: 600;
  font-size: 50px;
}

.talents {
  display: flex;
  align-items: center;
}
.talents2 h1 {
  font-weight: 700;
  font-size: 24px;
  margin-top: -10px;
}

.text p {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-left: 41px;
}
.text h2 {
  border: 1px solid silver;
  width: 1045px;
  margin-top: 35px;
}

.matn p {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 41px;
  margin-top: 35px;
}

.nom {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 41px;
}

.noma button {
  width: 175px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button3 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 658px;
  margin-top: 30px;
}

.but button {
  background-color: white;
}
.butt button {
  background-color: white;
}

.but button {
  width: 175px;
  height: 35px;
  border-radius: 10px;
  border: none;
  border: 2px solid rgba(22, 61, 92, 1);
  font-weight: 600;
}
.but:hover button {
  background-color: rgba(22, 61, 92, 1);
  transition: 0.5s;
  color: white;
}

.butt button {
  width: 150px;
  border-radius: 10px;
  height: 35px;
  border: none;
  border: 2px solid rgba(22, 61, 92, 1);
  font-weight: 600;
}
.butt:hover button {
  background-color: rgba(22, 61, 92, 1);
  transition: 0.5s;
  color: white;
}
