.kod-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f4ee;
  font-family: Arial, sans-serif;
  color: rgb(41, 38, 38);
}

.kod-wrapper h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

.kod-box {
  display: flex;
  gap: 12px;
}

.kod-box input {
  width: 55px;
  height: 65px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(19, 18, 18);
  color: #fdf9f9;
  box-shadow: 0 6px 15px rgba(238, 235, 235, 0.25);
  transition: all 0.2s ease;
}

.kod-box input:focus {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px #ffd700;
}

.info {
  margin-top: 25px;
  font-size: 18px;
}
.next-btn {
  margin-top: 30px;
  padding: 14px 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: #ffd700;
  color: #333;
  transition: all 0.3s ease;
}

.next-btn:hover {
  background: #ffcc00;
  transform: translateY(-2px);
}

.next-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
  transform: none;
}
