.footer {
  background: rgb(22, 61, 92, 1);
  padding: 60px 0 30px;
  margin-top: 100px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 350px;
  margin-bottom: 40px;
}

.footer-logo h1 {
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin-bottom: 8px;
}

.footer-logo p {
  color: white;
  font-size: 14px;
}
.footer-logo button {
  width: 170px;
  position: absolute;
  height: 35px;
  border-radius: 8px;
  border: none;
}

.footer-logo button a {
  width: 130px;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.footer-links {
  display: flex;
  gap: 200px;
}

.link-column h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.link-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-column a {
  margin-bottom: 12px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
}

.link-column li:hover {
  color: white;
}

.footer-bottom p {
  margin: 0;
}

.foot {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0;
  border-top: 1px solid #ddd;
  display: flex;
  color: white;
  font-size: 14px;
  justify-content: space-between;
}

.img img {
  margin-right: 20px;
}

.features {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}

.feature-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
}

.feature-card p {
  color: white;
  line-height: 1.5;
  font-size: 15px;
}
