.signup-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
}

/* tabs */
.tabs {
  padding: 5px;
  display: flex;
  background: #f1f3f6;
  border-radius: 12px;
  margin-bottom: 25px;
  width: 500px;
  height: 50px;
}
.tabs > button {
  font-size: 20px;
}

.tab {
  flex: 1;
  padding: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #8b8b8b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tab.active {
  background: #fff;
  color: #163d5c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* form */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #444;
}

/* input box */
.input-box {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
  border: 1px solid #dbe1ea;
  border-radius: 12px;
  padding: 6px;
  background: #fff;
}

/* icon block */
.icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: #f1f4f8;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  color: #163d5c;
  font-size: 16px;
}

/* inputs */
.input-box input,
.input-box select {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}

/* eye icon */
.eye {
  cursor: pointer;
  padding: 0 10px;
}

.eye svg {
  color: #163d5c;
}

/* buttons */
.buttons {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  width: 120px;
  height: 42px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn.back {
  border: 1px solid #c7d0dd;
  background: #fff;
  color: #163d5c;
}

.btn.next {
  border: none;
  background: #163d5c;
  color: #fff;
}

/* responsive */
@media (max-width: 768px) {
  .signup-box {
    width: 95%;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .buttons {
    grid-column: span 1;
  }
}
