@import "tailwindcss";

@theme {
  --color-card-bg: var(--card-bg);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-border-color: var(--border-color);
  --color-input-bg: var(--input-bg);
}

:root {
  --card-bg: #ffffff;
  --text-main: #1d3f61;
  --text-secondary: #7d8592;
  --border-color: #f5f5f5;
  --input-bg: transparent;
}

:root.dark {
  --card-bg: #1e1e1e;
  --text-main: #ffffff;
  --text-secondary: #bbbbbb;
  --border-color: #333333;
  --input-bg: #2a2a2a;
}
